{% extends "base.html" %}

{% block title %}
    Formulario
{% endblock %}

{% load crispy_forms_tags %}

{% block extrahead %}
    {% if dateTime %}
        {{ form.media }}
    {% endif %}
{% endblock %}

{% block main %}
    <h3>{{ titulo }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        {% if formAtualiza %}
            <button class="btn btn-success" type="submit">{{ stringBotao }}</button>
        {% else %}
            <button class="btn btn-primary" type="submit">{{ stringBotao }}</button>
        {% endif %}
        <button class="btn btn-secondary" type='button' onclick="location.href='/'">Cancelar</button>
    </form>
{% endblock %}
